.payment-component{
    display: flex;
    flex-direction: column;
    padding: 40px 40px 40px 40px;
    /* border: 1px solid black; */
}

.payment-component-container{
    padding: 40px 40px 40px 40px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.payment-component-container-one{
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px #F5F5F5;
}