.login-component {
    display: flex;
    padding: 50px 0 50px 0;
}

.login-container-one img {
    /* background-image: url(../../images/login.png); */
    width: 805px;
    height: 651px;
}

.login-container-two {
    /* border: 1px solid black; */
    width: 50%;
    padding: 50px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    /* gap: 25px; */
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-end;
    /* border: 1px solid black; */
    padding: 10px;
}

.login-form-div-one {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form-div-input input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 10px;
}

.login-form-div-button {
    /* border: 1px solid red; */
    /* padding: 10px; */
    width: 104%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form-div-button input {
    width: 100px;
    height: 43px;
    border: none;
    border-radius: 5px;
    background-color: #DB4444;
    color: #ffffff;
}

.forgot-password {
    text-decoration: none;
    color: inherit;
    padding-bottom: 2px;
    color: #DB4444;
}